/AnyDesk.exe
/BDA1.ipynb
/BDA1.pdf
/BDA2.ipynb
/BDA2.pdf
/BDA3.ipynb
/BDA3.pdf
/BDA4.ipynb
/BDA4.pdf
/BDA5.pdf
/BDA6.ipynb
/BDA6.pdf
/BDA7.pdf
/desktop.ini
/forestfires.xlsx
/Genel klasör
/Git-2.52.0-64-bit.exe
/Kemal Duran - Vurmam Gerek.mp3
/masaüstü
/ornek.ipynb
/~$Atlet---Fanila.xlsx
/~$Hepsiburada Listelerim - 13.11.2024.xlsx
/~$ikas-urunler.xlsx
/~$natu trendyol.xlsx
/~$Natuline Master Data.xlsx
/~$Natuline Master Data_SON.xlsx
/~$Online Satış Maliyet Güncels 2 Ocak.xlsx
/~$TEZ.docx
/~$tuline güncel yapılacaklar.docx
/~WRL0005.tmp